# =============================================================================
# SocialOS — Development Requirements
# Install: pip install -r requirements.txt -r requirements-dev.txt
# =============================================================================

-r requirements.txt
#pre-commit
pre-commit==4.5.1

# Profiling & Debug
django-silk>=5.2,<6.0
django-extensions>=3.2,<4.0
Werkzeug>=3.0

# Testing
factory-boy>=3.3,<4.0
faker>=25.0
pytest>=8.2,<9.0
pytest-django>=4.8,<5.0
pytest-cov>=5.0,<6.0
pytest-asyncio>=0.23,<1.0

# Type Checking
mypy>=1.10,<2.0
django-stubs[compatible-mypy]>=5.0
djangorestframework-stubs>=3.15

# Security Scanning
bandit>=1.7,<2.0
safety>=3.0

# Interactive Shell
ipython>=8.0

#flower
flower==2.0.1
